black>=25.1.0
flake8>=7.2.0
ipython
isort>=6.0.1
notebook>=7.4.2
jupyterlab>=4.4.0
matplotlib>=3.10.3
pip
python-dotenv>=1.1.0
-e .
scikit-learn>=1.7.0
pandas==2.2.0
numpy==1.26.3
scipy>=1.15.0
nltk>=3.9.1
joblib==1.3.2 
lib-ml @ git+https://github.com/remla25-team4/lib-ml.git@v0.1.0
pytest>=8.3.5
pyarrow>=20.0.0
dvc
dvc-gdrive
pylint>=2.17.0


